@import '../../Utilities/color';

.MatchedChoices-headerError {
  color: color(red500);
}

.MatchedChoices-cellError {
  color: color(red500);
}

.MatchedChoices-added {
  color: green;
}

.MatchedChoices-tableTitle {
  height: 40px;
}

.MatchedChoices-searchBar {
  float: left;
}

.MatchedChoices-cellContainer {
  display: flex;
}

.MatchedChoices-cell {
  width: 80%;
  display: inline-block;
  overflow-wrap: break-word;
}

.MatchedChoices-cancel {
  width: 25px;
  opacity: 0.6;
  text-align: right;
  align-self: center;
  display: inline-block;
  margin-left: 5px;
}
