@import '../../Utilities/color';

.MatchedChoices-headerError {
	color: color(red500);
}

.MatchedChoices-cellError {
	color: color(red500);
}

.MatchedChoices-tableTitle {
  height: 40px;
}

.MatchedChoices-searchBar {
  float: left;
}
