@import '../Utilities/color';

.Breadcrumbs-navigation {
  float: right;
  width: 80%;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
}

.Breadcrumbs-downloadIcon {
  width: 25px;
  height: 25px;
  float: right;
  fill: color(blue500);
}

.Breadcrumbs-buttonText {
  margin-top: 5px;
  float: left;
}

.Breadcrumbs-downloadButton {
  display: inline-block;
  float: right;
  margin-right: 3%;
  margin-top: 5px;
}

.Breadcrumbs-hidden {
  display: none;
}

.Breadcrumbs-finish {
  float: right;
}
