.Breadcrumbs-navigation {
  float: right;
  width: 75%;
  margin-right: 15px;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
}

.Breadcrumbs-downloadIcon {
  width: 25px;
  height: 25px;
  display: inline-block;
  float: right;
}

.Breadcrumbs-download {
  display: inline-block;
  float: right;
  line-height: 25px;
  height: 30px;
  margin-right: 25px;
  margin-top: 5px;
  vertical-align: middle;
}

.Breadcrumbs-hidden {
  display: none;
}
