.Breadcrumbs-navigation {
  float: right;
  width: 75%;
  margin-right: 15px;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
}

.Breadcrumbs-downloadIcon {
  width: 30px;
  height: 30px;
  display: inline-block;
  float: right;
}

.Breadcrumbs-download {
  display: inline-block;
  float: right;
  line-height: 30px;
  height: 30px;
}

.Breadcrumbs-hidden {
  display: none;
}
