@import '../Utilities/color';

.Breadcrumbs-navigation {
  margin-left: 3%;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
}

.Breadcrumbs-downloadIcon {
  width: 30px;
  float: right;
  fill: color(blue500);
}

.Breadcrumbs-button {
  border: none;
  background: transparent;
}

.Breadcrumbs-menu {
  display: inline-block;
}

.Breadcrumbs-buttonText {
  float: left;
}

.Breadcrumbs-downloadButton {
  display: inline-block;
  float: right;
  margin-right: 3%;
}

.Breadcrumbs-hidden {
  display: none;
}

.Breadcrumbs-finish {
  float: right;
}

.Breadcrumbs-links {
  display: inline-block;
}
