.Header-logo {
  padding-top: 10px;
  height: 70px;
  position: absolute;
  left: 0;
}

.Header-title {
  padding-top: 20px;
  margin: 0px;
  text-align: center;
  color: white;
}

.Header-header {
  background-color: #005EC5;
  height: 70px;
}

.Header-github {
  margin-top: 7px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  height: 70px;
  width: 100px;
  color: white;
  text-align: center;
}

.Header-githubIcon {
  height: 35px;
  font-size: 35px;
}
