.TabbedDatatable_tabList {
	border-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-left: 0px;
}

.TabbedDatatable_tabs {
	width: 75%;
	display: inline-block;
	float: right;
	margin-right: 15px;
}
