.TabbedDatatable-tabList {
	border-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-bottom: -17px;
	padding-left: 0px;
}

.TabbedDatatable-tabs {
	width: 95%;
	display: inline-block;
}

.TabbedDatatable-sheetError {
	color: #E5153E;
}

.react-tabs__tab {
	padding-bottom: 0px;
}
