.ErrorsResolved-navigation {
  float: right;
  width: 75%;
  margin-right: 15px;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
}

.ErrorsResolved-downloadIcon {
  width: 25px;
  height: 25px;
  display: inline-block;
  float: right;
}

.ErrorsResolved-download {
  line-height: 25px;
}

.ErrorsResolved-downloadButton {
  display: inline-block;
  float: right;
  height: 30px;
  margin-right: 25px;
  margin-top: 5px;
}

.ErrorsResolved-hidden {
  display: none;
}
