@import '../Utilities/color';

.ErrorsResolved-downloadIcon {
  width: 25px;
  height: 25px;
  fill: color(blue500);
  float: right;
}

.ErrorsResolved-download {
  line-height: 25px;
}

.ErrorsResolved-hidden {
  display: none;
}

.ErrorsResolved-warningList  {
  padding-left: 0;
}

.ErrorsResolved-warningListItem  {
  list-style-position: inside;
}
