@import '../../Utilities/color';

.ChoiceMatcher-headerError {
	color: color(red500);
}

.ChoiceMatcher-cellError {
	color: color(red500);
}

.ChoiceMatcher-dropdown {
  overflow: visible;
}

.ChoiceMatcher-buttons {
	text-align: center;
}

.ChoiceMatcher-tableTitle {
  height: 40px;
}

.ChoiceMatcher-searchBar {
  float: left;
}

.ChoiceMatcher-tableLabel {
  float: right;
  min-width: 200px;
}

.ChoiceMatcher-matchAll {
	float: right;
	margin-right: 5px;
	height: 38px;
}
