/*
 *
 * Galapagos Sass Map
 * ToDo: breakdown by theme, base and brand
 *
 */

$colors: (
  white500: #ffffff,
  gray50: #F6F6F6,
  gray100: #ECECEC,
  gray200: #E7E7E7,
  gray300: #BDBDBD,
  gray400: #A3A3A3,
  gray500: #717171,
  gray600: #474747,
  gray650: #424242,
  gray700: #373737,
  gray800: #303030,
  gray850: #252525,
  gray900: #212121,
  black500: #000000,
  blue100: #CFEDFF,
  blue400: #50C0FF,
  blue500: #0366D6,
  blue550: #005EC5,
  blue600: #435A67,
  red50: #FCF8F8,
  red100: #F8DEDE,
  red200: #FD6275,
  red500: #E5153E,
  red600: #A14A5C,
  yellow100: #FFF9B2,
  yellow500: #FFF200,
  yellow700: #C07A08,
  green50: #ECFAF6,
  green100: #DFF6F0,
  green150: #E7FCD0,
  green200: #B8F0E1,
  green500: #3D7104,
);


/*
 *
 * Sass map color function
 *
 */

@function color($color: red500){
  @return map-get($colors, $color);
}

/*
 *
 * Create CSS variables for each of the color
 *
 */

// :root {
//   @each $name, $color in $colors {
//     --#{$name}: $color;
//   }
// }
