@import "color";

// Font Family - By default, we use system fonts
$font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

// Font Size
$f-size: (
  1: 0.79rem,
  2: 0.815rem,
  3: 1rem,
  4: 1.125rem,
  5: 1.266rem
);

// Font weight
$f-weight: (
  1: 300,
  2: 400,
  3: 500
);

// Breakpoint
$bp: (
  sm:   20rem,
  med:  36rem,
  lg:   51.5rem,
  xl:   67rem,
  xxl:  82.5rem
);

// Line Height
$l-height: (
  1: 1.25,
  2: 1.5
);

// Spacing
$spacing: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 2rem,
);

// Animation
$fade-quick: 0.15s;
$fade: 0.3s;
$fade-long: 0.4s;
$anim-ease: ease-in-out;

// Border
$border-radius: 2px;

// Spacing
$margin:  map-get($spacing,1);
$space:   map-get($spacing,2);
