@import '../../Utilities/color';

.ResolvedRowErrors-headerError {
  color: color(red500);
}

.ResolvedRowErrors-cellError {
  color: color(red500);
}

.ResolvedRowErrors-tableTitle {
  overflow: hidden;
}

.ResolvedRowErrors-searchBar {
  float: left;
}

.ResolvedRowErrors-cell {
  width: 80%;
  display: inline-block;
  overflow-wrap: break-word;
  white-space: normal;
  word-break: break-all;
}

.ResolvedRowErrors-resolvedCell {
  color: color(green500);
}

.ResolvedRowErrors-cellContainer {
  display: flex;
}

.ResolvedRowErrors-sheetInfo {
  float: right;
  width: 50%;
}

.ResolvedRowErrors-cancel {
  width: 25px;
  opacity: 0.6;
  text-align: right;
  align-self: center;
  display: inline-block;
  margin-left: 5px;
}
