@import '../../Utilities/color';

.MatchedFields-headerError {
	color: color(red500);
}

.MatchedFields-cellError {
	color: color(red500);
}

.MatchedFields-cell {
	width: 80%;
	display: inline-block;
	overflow-wrap: break-word;
}

.MatchedFields-cancel {
	width: 25px;
	opacity: 0.6;
	text-align: right;
	align-self: center;
	display: inline-block;
	margin-left: 5px;
}
