.EncodedRecords-tabList {
	border-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-bottom: -17px;
	padding-left: 0px;
}

.EncodedRecords-tabs {
	width: 95%;
	display: inline-block;
}

.EncodedRecords-sheetError {
	color: #E5153E;
}

.EncodedRecords-errorTab {
	color: #E5153E;
}
