.FieldMatcher-headerError {
	color: #E5153E;
}

.FieldMatcher-cellError {
	color: #E5153E;
}

.FieldMatcher-dropdown {
  overflow: visible;
}

.FieldMatcher-noMatchButton {
  background: #E7E7E7;
  color: #212121;
  font-weight: 500;
  border: 1px solid #dbd7d3;
  font-size: 14px;
  min-width: 82px;
  margin-left: 7px;
  height: 34px;
  border-radius: 10px;
}
