@import '../../Utilities/color';

.FieldMatcher-headerError {
	color: color(red500);
}

.FieldMatcher-cellError {
	color: color(red500);
}

.FieldMatcher-dropdown {
  overflow: visible;
}

.FieldMatcher-buttons {
	text-align: center;
}

.FieldMatcher-tableActions {
	position: relative;
	text-align: center;
	height: 36px;
}

.FieldMatcher-tableSearch {
	position: absolute;
}

.FieldMatcher-matchAll {
	position: absolute;
	left: calc(100% - 91px);
}

.FieldMatcher-switch {
	margin-top: 7px;
	display: inline-block;
}

.FieldMatcher-switchButton {
	height: 25px;
	min-width: 40px;
	margin-right: 5px;
	vertical-align: middle;
}
