.MatchFields-container {
  width: 69%;
  float: right;
  margin-right: 2.5%;
  padding-top: 10px;
  margin-top: -10px;
}

.MatchFields-navigation {
  float: right;
  margin-right: 2.5%;
  margin-top: -25px;
}

.MatchFields-matchedFields {
  display: inline-block;
  width: 35%;
  padding-left: 10px;
  overflow: hidden;
}

.MatchFields-unmatchedFields {
  float: right;
  display: inline-block;
  width: 65%;
  padding-left: 1%;
}

.MatchFields-title {
  text-align: center;
  font-size: 15px;
  margin-top: 4px;
}

.MatchFields-saveAndContinue {
  padding-top: 10px;
  z-index: 10;
  position: relative;
  float: right;
}

.MatchFields-tabbedDatatable {
  margin-top: 20px;
  text-align: center;
}
