.MatchFields-container {
  width: 75%;
	float: right;
  margin-right: 2.5%;
}

.MatchFields-matchedFields {
  display: inline-block;
  width: 35%;
  padding-left: 10px;
}

.MatchFields-unmatchedFields {
  display: inline-block;
  width: 65%;
  padding-left: 1%;
}

.MatchFields-title {
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
}

.MatchFields-saveAndContinue {
  padding-top: 15px;
  float: right;
}
