.MatchFields-container {
  width: 75%;
	display: inline-block;
	float: right;
	margin-right: 15px;
}

.MatchFields-matchedFields {
  display: inline-block;
  width: 32%;
  padding-left: 10px;
}

.MatchFields-unmatchedFields {
  display: inline-block;
  width: 63%;
  padding-left: 10px;
}

.MatchFields-title {
  text-align: center;
  font-size: 16px;
  margin: 7px;
}
