.TabbedDatatable-tabList {
	border-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-left: 0px;
}

.TabbedDatatable-sheetError {
	color: #E5153E;
}

.MatchFields-container {
  width: 75%;
	display: inline-block;
	float: right;
	margin-right: 15px;
}

.MatchFields-matchedFields {
  display: inline-block;
  width: 30%;
  padding-left: 10px;
}

.MatchFields-unmatchedFields {
  display: inline-block;
  width: 60%;
  padding-left: 10px;
}

.MatchFields-title {
  text-align: center;
  font-size: 16px;
  margin: 7px;
}
