.Datatable-headerError {
  color: #e5153e;
}

.Datatable-cellError {
  color: #e5153e;
}

.Datatable-searchBar {
  width: 100%;
  text-align: left;
}

// .ReactTable, .ReactTable .rt-th, .rt-td, .rt-table, .rt-tbody {
//     overflow: visible;
// }

table.ant-table-fixed {
  table-layout: fixed;
}

.ant-table-scroll table .ant-table-fixed-columns-in-body {
  visibility: visible;
}

div.truncated {
  width: 95px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Datatable-highlight {
  background-color: #ffec3d;
}
