@import '../../Utilities/color';

.ResolvedTextErrors-headerError {
	color: color(red500);
}

.ResolvedTextErrors-cellError {
	color: color(red500);
}

.ResolvedTextErrors-tableTitle {
  height: 40px;
}

.ResolvedTextErrors-searchBar {
  float: left;
}

.ResolvedTextErrors-cellContainer {
	display: flex;
}

.ResolvedTextErrors-cell {
	width: 80%;
	display: inline-block;
	overflow-wrap: break-word;
}

.ResolvedTextErrors-cancel {
	width: 25px;
	opacity: 0.6;
	text-align: right;
	align-self: center;
	display: inline-block;
	margin-left: 5px;
}
