.emphasis {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

.ProjectInfo-container {
  width: 12%;
  display: inline-block;
  margin-left: 10px;
  float: left;
  margin-top: 7px;
	margin-bottom: 5px;
}

.ProjectInfo-submitButtonDiv {
	text-align: center;
}

.ProjectInfo-errorText {
	color: red;
	padding-top: 5px;
}

.ProjectInfo-malformedSheets {
	color: #CC4400;
}

.ProjectInfo-projectInfo {
	padding-top: 10px;
}

.ProjectInfo-repeatableInstruments {
	margin-bottom: 10px;
}

.ProjectInfo-label {
	font-weight: 600;
}

.ProjectInfo-elevate {
	z-index: 10;
}
