.emphasis {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.ProjectInfo-container {
  display: inline-block;
  margin-left: 10px;
  text-align: left;
  float: left;
  margin-bottom: 7px;
}

.ProjectInfo-submitButtonDiv {
  text-align: center;
}

.ProjectInfo-errorText {
  color: red;
  padding-top: 5px;
}

.ProjectInfo-warning {
  color: #cc4400;
  margin-bottom: 5px;
}

.ProjectInfo-projectInfo {
  padding-top: 10px;
}

.ProjectInfo-repeatableInstruments {
  margin-bottom: 10px;
}

.ProjectInfo-label {
  font-weight: 600;
}

.ProjectInfo-elevate {
  z-index: 10;
}
