.emphasis {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}


.Form-submitButtonDiv {
	text-align: center;
}

.Form-errorText {
	color: red;
	padding-top: 5px;
}

.Form-malformedSheets {
	color: #CC4400;
}
