@import '../Utilities/variables';
@import '../Utilities/color';
@import '../Utilities/mixins';

.ResolveRow-container {
  width: 75%;
  float: right;
  margin-right: 2.5%;
  padding-top: 10px;
  margin-top: -10px;
}

.ResolveRow-navigation {
  margin-right: 2.5%;
  margin-top: -25px;
  width: 75%;
  float: right;
}

.ResolveRow-header {
  margin-top: 5px;
  display: inline-block;
  width: 50%;
}

.ResolveRow-navigationButtons {
  float: right;
}

.ResolveRow-column {
  width: 12%;
  margin-left: 2.7%;
  display: inline-block;
  float: left;
  margin-top: 15px;
}

.ResolveRow-matchedChoices {
  display: inline-block;
  width: 35%;
}

.ResolveRow-unmatchedChoices {
  float: right;
  display: inline-block;
  width: 65%;
  padding-left: 1%;
}

.ResolveRow-title {
  text-align: center;
  font-size: 15px;
  margin-top: 4px;
}

.ResolveRow-saveAndContinue {
  padding-top: 10px;
  z-index: 10;
  position: relative;
  float: right;
}
