.ResolveMergeConflicts-resolveError {
  width: 75%;
  float: right;
  text-align: left;
  margin-right: 2.5%;
}

.ResolveMergeConflicts-container {
  text-align: center;
}

.ResolveMergeConflicts-navigation {
  margin-right: 2.5%;
  margin-top: -25px;
  float: right;
}

.ResolveMergeConflicts-navigationButtons {
  float: left;
}

.ResolveMergeConflicts-helpText {
  width: 60%;
  margin: auto;
}

.ResolveMergeConflicts-header {
  margin-top: 5px;
  display: inline-block;
  font-size: 15px;
  width: 50%;
}

.ResolveMergeConflicts-columnDetails {
  float: left;
}

.ResolveMergeConflicts-progress {
  display: inline-block;
}

.ResolveMergeConflicts-next {
  float: right;
}

.ResolveMergeConflicts-nextColumn {
  margin-top: 10px;
}

.ResolveMergeConflicts-back {
  margin-right: 2.5%;
  margin-top: -25px;
  float: right;
  width: 75%;
}

.ResolveMergeConflicts-selector {
  width: 50%;
  margin: auto;
}

.ResolveMergeConflicts-resolved {
  width: 75%;
  float: right;
  margin-right: 2.5%;
  padding-top: 10px;
  margin-top: -10px;
}
