.ResolveMergeConflicts-resolveError {
  width: 75%;
  float: right;
  text-align: left;
  margin-right: 2.5%;
}

.ResolveMergeConflicts-container {
  text-align: center;
}

.ResolveMergeConflicts-navigation {
  float: right;
  margin-right: 2.5%;
  margin-top: -25px;
}

.ResolveMergeConflicts-back {
  float: right;
  margin-right: 2.5%;
  margin-top: -25px;
}

.ResolveMergeConflicts-selector {
  width: 50%;
  margin: auto;
}
