@import '../../Utilities/color';

.RepeatSelector-headerError {
  color: color(red500);
}

.RepeatSelector-cellError {
  color: color(red500);
}

.RepeatSelector-tableTitle {
  height: 40px;
}

.RepeatSelector-title {
  text-align: center;
  font-size: 18px;
  margin-top: 4px;
}

.RepeatSelector-description {
  text-align: center;
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.RepeatSelector-searchBar {
  float: left;
}

.RepeatSelector-cell {
  min-width: 200px;
}
