@import '../Utilities/variables';
@import '../Utilities/color';
@import '../Utilities/mixins';

.MatchChoices-container {
  width: 75%;
  float: right;
  margin-right: 2.5%;
}

.MatchChoices-navigation {
  margin-right: 2.5%;
  margin-top: -25px;
  width: 75%;
  float: right;
}

.MatchChoices-navigationButtons {
  float: left;
}

.MatchChoices-header {
  display: inline-block;
  font-size: 13px;
  width: 50%;
}

.MatchChoices-columnDetails {
  float: left;
}

.MatchChoices-progress {
  display: inline-block;
}

.MatchChoices-next {
  float: right;
}

.MatchChoices-nextColumn {
  margin-top: 10px;
}

.MatchChoices-column {
  width: 12%;
  margin-left: 2.7%;
  display: inline-block;
  float: left;
  margin-top: 15px;
}

.MatchChoices-matchedChoices {
  display: inline-block;
  width: 35%;
}

.MatchChoices-unmatchedChoices {
  float: right;
  display: inline-block;
  width: 65%;
  padding-left: 1%;
}

.MatchChoices-title {
  text-align: center;
  font-size: 15px;
  margin-top: 4px;
}

.MatchChoices-saveAndContinue {
  padding-top: 10px;
  z-index: 10;
  position: relative;
  float: right;
}
