@import '../../Utilities/color';

.RecordMerger-headerError {
  color: color(red500);
}

.RecordMerger-cellError {
  color: color(red500);
}

.RecordMerger-dropdown {
  overflow: visible;
}

.RecordMerger-buttons {
  text-align: center;
}

.RecordMerger-tableTitle {
  height: 40px;
}

.RecordMerger-searchBar {
  float: left;
}

.RecordMerger-tableLabel {
  float: right;
  min-width: 200px;
}

.RecordMerger-elevate {
  z-index: 10;
}

.RecordMerger-matchAll {
  float: right;
  margin-right: 5px;
  height: 38px;
}

.RecordMerger-accept {
  width: 25px;
  opacity: 0.6;
  text-align: right;
  align-self: center;
  display: inline-block;
  margin-left: 5px;
}

.RecordMerger-cellContainer {
  display: flex;
}

.RecordMerger-cell {
  width: 80%;
  display: inline-block;
  overflow-wrap: break-word;
}
