@import '../Utilities/color';

.ErrorSelector-elevate {
	z-index: 10;
}

.ErrorSelector-column {
  width: 12%;
  margin-left: 2.7%;
  display: inline-block;
  float: left;
  margin-top: 2px;
}

.ErrorSelector-menu {
	margin-top: 5px;
	margin-left: 7%;
	text-align: left;
}
