@import '../Utilities/color';

.ErrorSelector-elevate {
	z-index: 10;
	float: right;
	margin-right: 10px;
	width: 200px;
	margin-left: 10px;
}

.ErrorSelector-column {
	margin-top: 15px;
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 100px;
}

.ErrorSelector-menu {
	margin-top: 2px;
	text-align: left;
}

.ErrorSelector-selector {
	margin-top: 0px;
}

.ErrorSelector-label {
	display: inline-block;
	margin-top: 5px;
	color: white;
}
